
            body {
                font-family: 'Roboto', sans-serif;
background-image: linear-gradient(180deg, #b9b9b9);
     
    }
            .upper{
                background-color: rgb(27, 27, 27);
                /* text-align: center; */
                color: rgb(206, 189, 189);
                /* font-size:70px; */
                border: none;
                margin-top:0%;
                margin-bottom: 0px;
                width: 100vw;
                height: 10vh;
                padding: 1%;
            }
            
            .a1{
                color: white;
                margin-top: 0%;
                font-size: large;
                text-decoration: none;
                transition: color;
                margin-left: 1%;
                
            }
            .a1:hover{
                color: #0080ff;          /* hover color */
                text-shadow: 0 0 10px rgba(0, 191, 255, 0.5);
                
            }
            .href1{
                margin-top: 0%;
                width: 10%;
                text-align: center;
                margin-left: 300px;
                padding: 10px;
                padding-top: 1%;
                margin-bottom: 10%;
    
            }
        .form_of_buy_cars{

        }